<%= form_with(model: genre) do |form| %>
  <% if genre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
        <% genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label class="form-label">Название жанра:</label><br/>
    <%= form.text_field :name, class:'information-input form-controls', placeholder: 'Введите название книги' %>
  </div>

  <div class="d-flex flex-column">
    <%= form.label 'Описание жанра:',  class:"form-label" %>
    <%= form.text_area :description, placeholder: 'Введите описание', class:'form-controls' do%>
      <%= genre.description %>
    <% end %>
  </div>

  <div class="submit-btn d-flex justify-content-center">
    <%= form.submit 'Принять', class: 'btn btn-my btn-lg' %>
  </div>
<% end %>
