<h1>Вход в систему</h1>

<%= render 'layouts/message' %>

<div class="d-flex flex-column justify-content-center">
<%= form_with url: session_create_url, method: :get, class: 'd-inline-flex flex-column align-self-center' do |f| %>
  <%= f.label 'Логин:', class: 'form-label' %>
  <%= f.text_field :login, required: true, label: 'Login', class: 'information-input form-controls' %>
  <%= f.label 'Пароль:', class: 'form-label' %>
  <%= f.password_field :password, required: true, label: 'Password', class: 'information-input form-controls' %>
  <%= f.button 'Войти', class: 'btn btn-my submit-btn form-controls' %>
<% end %>
</div>