<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column">
    <label class="form-label">Имя автора:</label>
    <%= form.text_field :name, class:'information-input form-controls', placeholder: 'Введите полное ФИО автора' %>
  </div>

  <div class="d-flex flex-column">
    <label class="form-label">Описание автора:</label>
    <%= form.text_area :description, class:'form-controls', placeholder: 'Введите описание автора' %>
  </div>

  <div class="submit-btn d-flex justify-content-center">
    <%= form.submit 'Принять', class: 'btn btn-my btn-lg' %>
  </div>
<% end %>
