<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column">
    <label class="form-label">Имя пользователя*:</label>
    <%= form.text_field :username, class:'information-input form-controls', placeholder: 'Введите имя пользователя' %>
  </div>

  <div class="d-flex flex-column">
    <label class="form-label">Пароль* (максимум 72 символа):</label>
    <%= form.password_field :password, class:'information-input form-controls', placeholder: 'Введите пароль' %>
  </div>

  <div class="d-flex flex-column">
    <label class="form-label">Подтверждение пароля*:</label>
    <%= form.password_field :password_confirmation, class:'information-input form-controls', placeholder: 'Повторите пароль' %>
  </div>

  <div class="d-flex flex-column">
    <label class="form-label">Описание профиля пользователя:</label>
    <%= form.text_area :description, class:'form-controls', placeholder: 'Введите описание' %>
  </div>

  <div class="d-flex flex-column">
    <label class="form-label">Аватар (введите URL картинки):</label>
    <%= form.text_area :avatar, placeholder: 'URL картинки', class: 'url-field form-controls' %>
  </div>

  <label class="necessary-fields-label">* – поля являются обязательными для заполнения</label>

  <div class="submit-btn d-flex justify-content-center">
    <%= form.submit 'Принять', class: 'btn btn-my btn-lg' %>
  </div>
<% end %>
