<div id="<%= dom_id user %>">
  <li class="user-list-item">
    <a class="user-link" href="<%= user_url user %>">
      <% avatar = user.avatar.nil? || user.avatar&.empty? ? "no_avatar.png" : user.avatar %>
      <%= image_tag avatar, height: 35, width: 35, class: "d-inline-block align-center" %>
      <%= user.username %>
    </a>
    <%= link_to 'Редактировать пользователя', edit_user_url(user), type: 'button', class: 'btn btn-my btn-sm' %>
  </li>
</div>
