<%= form_with(model: listbookgenre) do |form| %>
  <% if listbookgenre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(listbookgenre.errors.count, "error") %> prohibited this listbookgenre from being saved:</h2>

      <ul>
        <% listbookgenre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.label :genre_id, style: "display: block" %>
    <%= form.text_field :genre_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
