<h1>Books found</h1>

<%= form_with(url: search_books_url, method: :get) do |form| %>
  <div>
    <%= form.label :search, style: "display: block" %>
    <%= form.text_field :search, name: 'search_request[book_name]' %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<div id="books">
  <% @books_found.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
