<h1>Результаты поиска книг по запросу "<%= @search_param %>"</h1>

<%= render 'search_form' %>

<% if @books_found.empty? %>
  <h5>К сожалению, по вашему запросу ничего не найдено.
    Проверьте правильность запроса или попробуйте найти подходящую вам <a href="<%= genres_url %>">по жанру</a> книгу.</h5>
<% else %>
  <div id="books" class="d-flex flex-wrap">
    <% @books_found.each do |book| %>
      <%= render 'book_brief', book: book %>
    <% end %>
  </div>
<% end %>

<div class="back-btn">
  <%= link_to "Вернуться к общему списку книг", books_url, type: 'button', class: 'btn btn-my' %>
</div>