<p style="color: green"><%= notice %></p>

<%= render @listuserlikedbook %>

<div>
  <%= link_to "Edit this listuserlikedbook", edit_listuserlikedbook_path(@listuserlikedbook) %> |
  <%= link_to "Back to listuserlikedbooks", listuserlikedbooks_path %>

  <%= button_to "Destroy this listuserlikedbook", @listuserlikedbook, method: :delete %>
</div>
